<div id="mainFrame">
  <h3>
    Product groups

  </h3>

  <ngx-datatable
    #myTable
    class="material expandable"
    [columnMode]="ColumnMode.force"
    [headerHeight]="40"
    [footerHeight]="40"
    [rowHeight]="50"
    [scrollbarV]="true"
    [rows]="rows"
    (page)="onPage($event)"
    [selected]="selected"
    [selectionType]="SelectionType.single"
    (activate)="onActivate($event)"
    (select)="onSelect($event)"
  >
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:60px; font-size:14px">
          <div>{{ row.sumQty | number}}pcs, {{ row.suma |number:'1.2-2'}}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="true"
      [canAutoResize]="false"
    >
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="#"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)"
          class="desktop-hidden"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Name" [flexGrow]="1" [minWidth]="150">
       <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column headerClass='mobile-hidden' name="Qty" prop="sumQty" [flexGrow]="1" >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden">{{ value | number }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column headerClass='mobile-hidden' name="Cash" prop="suma" [flexGrow]="1">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span class="mobile-hidden">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>


